/* Change the width of download buttons after collapsed */
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
.width-auto {
  max-width: 3.25em;
  transition: all 0.2s ease-in;
}

/* =========================================================================== */
/* Reset CSS */
/* =========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* =========================================================================== */
/* Overall Setting */
/* =========================================================================== */
/* Font */
h1 {
  font-family: "Philosopher", sans-serif;
  color: #FFCA3A;
}

h2, h3, h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
}

/* Set the full height */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

/* Scroll Bars */
/* width */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.5843137255);
  border-radius: 10em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5843137255);
  border-radius: 10em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3137254902);
  border-radius: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1882352941);
}

/* =========================================================================== */
/* Mobile Version */
/* =========================================================================== */
/* =========================================================================== */
/* Font Setting */
/* =========================================================================== */
h1 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 0.6em;
}

h3, h4 {
  font-weight: 700;
}

p {
  font-size: 0.8em;
  line-height: 16px;
}

/* =========================================================================== */
/* Top Nav Bar */
/* =========================================================================== */
nav {
  display: flex;
  align-items: center;
  padding: 1em 0em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1882352941);
  background: #000000;
}

/* Logo */
.logo {
  margin-left: 1.5em;
}

/* Search and Menu Buttons */
.search-btn {
  background: none;
  color: #ffffff;
  margin: 0em;
  font-size: 1.3em;
}

.menu-btn {
  background: none;
  color: #ffffff;
  margin: 0em 0.625em 0em 0.5em;
  font-size: 1.3em;
}

/* Search Bar */
form.search {
  border: none;
}

.search-bar {
  display: none;
}

/* Right Menu */
div.offcanvas-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
div.offcanvas-body ul {
  margin-top: 10.875em;
}
div.offcanvas-body ul li {
  text-align: center;
  font-weight: 700;
  margin: 1.25em 0em;
  opacity: 0.5;
}
div.offcanvas-body ul li a {
  color: #000000;
  transition: 0.3s all ease-in;
}
div.offcanvas-body ul li a:hover {
  color: #9B55DD;
}
div.offcanvas-body ul li.active {
  opacity: 1;
}

/* Footer for medium and small devices */
.sm-device-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0, 0, 0, 0.3137254902);
}
.sm-device-footer p {
  text-align: center;
  margin-bottom: 0.8em;
}
.sm-device-footer p a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.3137254902);
  transition: 0.3s all ease-in;
}
.sm-device-footer p a:hover {
  color: #9B55DD;
}
.sm-device-footer .social-media {
  margin-bottom: 3em;
}
.sm-device-footer .social-media a {
  color: rgba(0, 0, 0, 0.3137254902);
  transition: 0.3s all ease-in;
}
.sm-device-footer .social-media a:hover {
  color: #9B55DD;
}
.sm-device-footer .social-media a i {
  font-size: 2.18em;
}

/* =========================================================================== */
/* Main Grid Container */
/* =========================================================================== */
.grid-container {
  height: 100%;
  overflow: hidden;
  /* Make a grid for Sidebar and right content */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 3.75em;
}

/* =========================================================================== */
/* Sidebar */
/* =========================================================================== */
/* Sidebar Navigation */
aside {
  height: 3.75em;
  background-color: rgba(29, 35, 94, 0.2078431373);
  padding: 0em;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
}

.side-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.side-nav li {
  display: flex;
  cursor: pointer;
  transition: 0.3s all ease-in;
}
.side-nav li.active, .side-nav li:hover {
  background-color: rgba(255, 255, 255, 0.2235294118);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}
.side-nav li a {
  padding: 0.8em 1.5em;
  color: rgba(255, 255, 255, 0.4392156863);
  transition: 0.3s all ease-in;
}
.side-nav li a span {
  display: none;
}
.side-nav li a i {
  font-size: 2.2em;
}
.side-nav li a.active, .side-nav li a:hover {
  color: #ffffff;
}

/* Collapse Button */
.collapse-btn {
  display: none;
}

/* Download Apps */
.app-container {
  display: none;
}

/* =========================================================================== */
/* Main Content Container */
/* =========================================================================== */
.right-content-container {
  height: 100%;
  overflow: auto;
}

main {
  padding: 1.3em 0em 0.6em;
  width: 100%;
}

/* =========================================================================== */
/* Index page */
/* =========================================================================== */
.breadcrumb {
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.todays-pic-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

/* Control Buttons */
.control-btn {
  cursor: pointer;
}
.control-btn i {
  opacity: 0.5;
  border: 1px solid #ffffff;
  background-color: #000000;
  border-radius: 50em;
  padding: 0.5rem;
  font-size: 1.2em;
  position: absolute;
  top: 25%;
  transition: 0.3s all ease-in;
}
.control-btn i.prev {
  left: 0.3em;
  z-index: 1;
}
.control-btn i.next {
  right: 0.3em;
}
.control-btn i:hover {
  border: 1px solid #98ECFF;
  color: #98ECFF;
  box-shadow: 0px 0px 10px #ffffff;
  transform: scale(1.1);
}
.control-btn i:active {
  transform: scale(0.8);
}

.btn-disable {
  opacity: 0.5;
}

/* Picture Container */
.picture-container {
  position: relative;
}

/* Image Credit */
.img-credit {
  position: absolute;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.1882352941);
  color: #ffffff;
  width: 100%;
  padding: 0.3em 1.5em;
  display: grid;
  grid-template-columns: auto 1.68em;
  gap: 0.7em;
  align-items: center;
}
.img-credit p {
  line-height: 26px;
}
.img-credit a {
  color: #ffffff;
  text-decoration: underline;
  transition: 0.3s all ease-in;
}
.img-credit a:hover {
  color: #98ECFF;
}
.img-credit button {
  background: none;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
.img-credit i {
  font-size: 1em;
}

/* Article */
article {
  margin-top: 0.6em;
  padding: 0em 1.5em;
  width: 100%;
}
article h1 {
  text-align: center;
  font-size: 1.75em;
}
article .pic-description {
  margin-right: 4px;
  max-height: 11.3em;
  overflow: auto;
}
article hr {
  border-top: 2px dashed #ffffff;
  opacity: 1;
  margin: 0.38em 0em;
}
article button {
  display: none;
}

/* =========================================================================== */
/* Footer */
/* =========================================================================== */
footer {
  display: none;
}

/* =========================================================================== */
/* Search Page */
/* =========================================================================== */
.search-container {
  padding: 0em 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 6fr;
}

/* Search Bar */
.searching-for form {
  margin-top: 0.6em;
}
.searching-for form input {
  padding-left: 1em;
  background: none;
  height: 2em;
}
.searching-for form input:focus {
  outline: none;
}
.searching-for form input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 0.7em;
  height: 0.7em;
  background-repeat: no-repeat;
  background-image: url("../image/xmark-dark.png");
  background-position: center;
}
.searching-for form button {
  background: none;
  color: #000000;
  margin: 0.3em;
}
.searching-for form button i {
  font-size: 1em;
  margin-right: 0.5em;
}

/* Categories and Filters */
.category-filter {
  display: flex;
  background-color: #ffffff;
  color: #000000;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5em 0em;
  border-radius: 1.4em;
  max-height: 2.4em;
}
.category-filter h3 {
  font-size: 0.8em;
  cursor: pointer;
}
.category-filter div {
  height: 1.4em;
  width: 1px;
  border-radius: 2em;
  background-color: #707070;
}
.category-filter span {
  margin-right: 0.5em;
}
.category-filter i {
  font-size: 0.75em;
}

/* Category Selections */
.category-selections {
  display: none;
}

/* Filter */
.filter-container {
  display: none;
}

.filter-panels {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.8em 0em;
  color: #000000;
  margin-bottom: 1em;
}
.filter-panels h3 {
  padding: 0em 0.8em;
}
.filter-panels hr {
  border: 0.25px solid #D8D8D8;
  margin: 6.5px 0px;
}
.filter-panels h4 {
  font-weight: 400;
  margin-bottom: 0.2em;
}
.filter-panels .container {
  margin-bottom: 0.8em;
}
.filter-panels .container .row {
  padding-left: 0.8em;
  margin-right: 0.05em;
  overflow: auto;
  max-height: 2.75em;
}
.filter-panels .container .row::-webkit-scrollbar {
  /* Adjust the background color of track */
  background-color: #E6E6E6;
}
.filter-panels .container .row label {
  padding-top: 0.4em;
  font-size: 14px;
}

/* Results */
.result-container {
  margin-top: -1em;
}

.results {
  overflow: auto;
  max-height: 27em;
}
.results .filter-panels {
  padding: 1em;
  margin-right: 1em;
}
.results .filter-panels h2 {
  color: #8C3A75;
  margin-bottom: 0.3em;
}

/* =========================================================================== */
/* Submission Page */
/* =========================================================================== */
.submission-container {
  padding: 0em 1.5em;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.9em;
}

/* File */
.file-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.file-container i {
  font-size: 2.5em;
  padding: 0.36em 0.4em;
  border-radius: 50em;
  background-color: #ffffff;
  color: #000000;
}
.file-container i:nth-child(1) {
  display: none;
}
.file-container p {
  font-size: 1em;
  margin-top: 1em;
}
.file-container p::after {
  content: "Click to upload";
}

/* Form */
.form-container label {
  font-size: 0.8em;
}
.form-container input[type=text], .form-container input[type=email], .form-container textarea {
  border-radius: 10px;
  margin-bottom: -0.5em;
}
.form-container textarea {
  height: 6.9em;
}
.form-container textarea:focus {
  border-radius: 10px;
}
.form-container .form-check {
  margin-top: 0.9em;
}
.form-container .form-check label {
  line-height: 14px;
}
.form-container .form-check label a {
  color: #ffffff;
  text-decoration: underline;
  transition: 0.3s all ease-in;
}
.form-container .form-check label a:hover {
  color: #98ECFF;
}
.form-container button {
  color: #9B55DD;
  border: 1px solid #9B55DD;
  border-radius: 50em;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
  background-color: transparent;
  padding: 1em;
  margin: 1.5em 0em;
  transition: 0.3s all ease-in;
  padding: 0.75em 2em;
  font-size: 1em;
  margin: 0em 6.5em;
}
.form-container button:hover {
  color: #ffffff;
  background-color: #9B55DD;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
}
.form-container button:active {
  transform: scale(0.8);
}
.form-container button span {
  font-weight: 700;
  margin-left: 0.5em;
}
.form-container button i {
  font-size: 1.25em;
}

/* =========================================================================== */
/* Categories Page */
/* =========================================================================== */
.categories {
  padding-left: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5em;
  margin: 1.25em 0.68em 0em 0em;
  overflow: auto;
  max-height: 33.875em;
}
.categories p {
  position: absolute;
  bottom: 0%;
  background-color: rgba(0, 0, 0, 0.1882352941);
  color: #ffffff;
  width: 100%;
  font-size: 1.25em;
  padding: 1em 0em;
  transition: 0.3s all ease-in;
}
.categories p:hover {
  padding: 121.5px 0px;
  background-color: rgba(0, 0, 0, 0.4588235294);
}
.categories picture:hover + p {
  padding: 121.5px 0px;
  background-color: rgba(0, 0, 0, 0.4588235294);
}

/* =========================================================================== */
/* Sub Categories Page: Cosmos, Solar System, People, Space Tech, Sky */
/* =========================================================================== */
.sub-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.18em;
  max-width: 58em;
  margin: 3.6em auto;
  gap: 1.25em;
  margin: 1.25em 0.68em 0em 0em;
  overflow: auto;
  max-height: 33.875em;
}

/* Accordion */
.accordion-item ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6em 1.8em;
}
.accordion-item ul li {
  text-align: center;
}
.accordion-item ul a {
  color: #000000;
  line-height: 20px;
  transition: 0.3s all ease-in;
}
.accordion-item ul a:hover {
  color: #9B55DD;
}

/* Cards */
.card {
  max-width: 17.75em;
}
@media screen and (min-width: 1200px) {
  .card {
    max-width: 22.5em;
  }
}

/* =========================================================================== */
/* Tablet Version */
/* =========================================================================== */
@media screen and (min-width: 768px) {
  /* =========================================================================== */
  /* Font Setting */
  /* =========================================================================== */
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }
  p {
    font-size: 1em;
    line-height: 26px;
  }
  /* =========================================================================== */
  /* Top Nav Bar */
  /* =========================================================================== */
  /* Logo */
  .logo {
    margin-left: 2em;
  }
  /* Search and Menu Buttons */
  .search-btn {
    background: none;
    color: #ffffff;
    margin: 0em 0.5em;
    font-size: 0.8em;
  }
  .menu-btn {
    background: none;
    color: #ffffff;
    margin: 0em 1em 0em 4.125em;
    font-size: 1.8em;
  }
  /* Search Bar */
  form.search {
    border-radius: 50em;
    border: 2px solid #ffffff;
  }
  .search-bar {
    display: block;
    padding-left: 0.8em;
    background: none;
    color: #ffffff;
    height: 1.6em;
    width: 17.3em;
  }
  .search-bar:focus {
    outline: none;
    color: #ffffff;
  }
  .search-bar::-moz-placeholder {
    color: #ffffff;
  }
  .search-bar:-ms-input-placeholder {
    color: #ffffff;
  }
  .search-bar::placeholder {
    color: #ffffff;
  }
  .search-bar[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
    width: 0.6em;
    height: 0.6em;
    background-repeat: no-repeat;
    background-image: url("../image/xmark.png");
    background-position: center;
  }
  /* =========================================================================== */
  /* Sidebar */
  /* =========================================================================== */
  /* Sidebar Navigation */
  .side-nav li a {
    padding: 0.8em 2.5em;
  }
  /* =========================================================================== */
  /* Main Content Container */
  /* =========================================================================== */
  main {
    padding: 1.75em 2.5em 0em;
  }
  /* =========================================================================== */
  /* Index page */
  /* =========================================================================== */
  .breadcrumb {
    margin-left: 0em;
    margin-bottom: 1.75em;
  }
  .todays-pic-container {
    grid-template-columns: 2em auto 2em;
    gap: 0.5em;
  }
  /* Control Buttons */
  .control-btn i {
    opacity: 1;
    background-color: transparent;
    padding: 0.6rem;
    top: 50%;
  }
  .control-btn i.prev {
    left: -1em;
    z-index: 0;
  }
  .control-btn i.next {
    right: -1em;
  }
  /* Image Credit */
  .img-credit {
    padding: 1.43em 2.5em;
    gap: 2em;
  }
  .img-credit i {
    font-size: 1.68em;
  }
  /* Article */
  article {
    margin-top: 0.9em;
    padding: 0em;
  }
  article h1 {
    font-size: 3em;
  }
  article .pic-description {
    max-height: 8.125em;
  }
  article hr {
    margin: 0.95em 0em;
  }
  /* =========================================================================== */
  /* Search Page */
  /* =========================================================================== */
  .search-container {
    padding: 0em;
    gap: 1.8em;
  }
  /* Search Bar */
  .searching-for form {
    margin-top: 0em;
  }
  .searching-for form input {
    height: 3em;
  }
  .searching-for form input[type=search]::-webkit-search-cancel-button {
    width: 0.8em;
    height: 0.8em;
  }
  .searching-for form button {
    margin: 0.5em;
  }
  .searching-for form button i {
    font-size: 1.25em;
  }
  /* Categories and Filters */
  .category-filter {
    padding: 1.5em 0em;
    border-radius: 1.25em;
    max-height: 3.1em;
  }
  .category-filter h3 {
    font-size: 1em;
  }
  .category-filter div {
    height: 2em;
    width: 2px;
    border-radius: 1.8em;
  }
  .category-filter span {
    margin-right: 1em;
  }
  .category-filter i {
    font-size: 1.25em;
  }
  /* Results */
  .result-container {
    margin-top: -1.5em;
  }
  .results {
    max-height: 33.75em;
  }
  /* =========================================================================== */
  /* Submission Page */
  /* =========================================================================== */
  .submission-container {
    padding: 0em;
    gap: 2.8em;
    margin-bottom: 0.5em;
  }
  /* File */
  .file-container i {
    font-size: 2.75em;
    padding: 0.46em 0.5em;
  }
  .file-container p {
    font-size: 1.5em;
    margin-top: 0.9em;
  }
  /* Form */
  .form-container label {
    font-size: 1em;
  }
  .form-container textarea {
    height: 7.5em;
  }
  .form-container .form-check {
    margin-top: 1.5em;
  }
  .form-container .form-check label {
    line-height: 26px;
  }
  .form-container button {
    padding: 0.8em 2.25em;
    margin: 0.6em 0em;
  }
  /* =========================================================================== */
  /* Categories Page */
  /* =========================================================================== */
  .categories {
    padding-left: 0em;
    justify-content: space-between;
    gap: 2.5em;
    max-width: 37em;
    margin: 2.6em auto 0em;
    overflow: visible;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  /* =========================================================================== */
  /* Sub Categories Page: Cosmos, Solar System, People, Space Tech, Sky */
  /* =========================================================================== */
  .sub-categories {
    gap: 2.5em;
    justify-content: space-between;
    max-width: 38em;
    margin: 2.1em auto 0em;
    overflow: visible;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
}
/* =========================================================================== */
/* Desktop Version */
/* =========================================================================== */
@media screen and (min-width: 1200px) {
  /* =========================================================================== */
  /* Top Nav Bar */
  /* =========================================================================== */
  nav {
    padding: 1em 0.5em;
  }
  /* Logo */
  .logo {
    margin-left: 2.5em;
  }
  /* Search and Menu Buttons */
  .search-btn {
    font-size: 1.4em;
  }
  .menu-btn {
    margin: 0em 1.5em;
    font-size: 2.4em;
  }
  /* Search Bar */
  form.search {
    border: 4px solid #ffffff;
  }
  .search-bar {
    padding-left: 1em;
    width: 20em;
  }
  .search-bar[type=search]::-webkit-search-cancel-button {
    width: 0.8em;
    height: 0.8em;
  }
  /* Right Menu */
  div.offcanvas-body ul {
    margin-top: 10.875em;
  }
  div.offcanvas-body ul li {
    text-align: center;
    font-weight: 700;
    margin: 1.25em 0em;
    opacity: 0.5;
  }
  div.offcanvas-body ul li a {
    color: #000000;
    transition: 0.3s all ease-in;
  }
  div.offcanvas-body ul li a:hover {
    color: #9B55DD;
  }
  div.offcanvas-body ul li.active {
    opacity: 1;
  }
  /* Hide the small footer for large screens */
  .sm-device-footer {
    display: none;
  }
  /* =========================================================================== */
  /* Main Grid Container */
  /* =========================================================================== */
  .grid-container {
    /* Adjust layout for desktop screens */
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
  }
  /* =========================================================================== */
  /* Sidebar */
  /* =========================================================================== */
  /* Sidebar Navigation */
  aside {
    width: 16.375em;
    height: 100%;
    background-color: rgba(29, 35, 94, 0.2078431373);
    padding: 0em;
    grid-row: 1/2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Transition for expanding the sidebar */
    transition: all 0.1s ease-in;
  }
  .side-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0em;
  }
  .side-nav li {
    display: flex;
    width: 100%;
    cursor: pointer;
    transition: 0.3s all ease-in;
  }
  .side-nav li:nth-child(1) {
    padding-top: 2.3em;
  }
  .side-nav li.active, .side-nav li:hover {
    background-color: rgba(255, 255, 255, 0.2235294118);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .side-nav li a {
    width: 100%;
    padding: 1em 0.75em 1em 2.5em;
    color: rgba(255, 255, 255, 0.4392156863);
    transition: 0.3s all ease-in;
  }
  .side-nav li a span {
    display: inline;
    font-weight: 700;
    margin-left: 0.5em;
  }
  .side-nav li a i {
    font-size: 1.25em;
  }
  .side-nav li a.active, .side-nav li a:hover {
    color: #ffffff;
  }
  /* Collapse Button */
  .collapse-btn {
    display: inline;
    position: absolute;
    top: 45%;
    right: 0em;
    padding: 1.68em 0.6em;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 0px 0px 10px;
    border: none;
  }
  .collapse-btn i {
    font-size: 1.25em;
  }
  /* Collapse sidebar */
  .collapse {
    display: none;
  }
  .collapsed-sidebar {
    width: 6.25em;
    transition: all 0.1s ease-in;
  }
  /* Flip the arrow after collapsed*/
  .flip {
    transform: rotate(180deg);
    transition: all 0.2s ease-in;
  }
  /* Download Apps */
  .app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25em;
    margin-bottom: 3.56em;
  }
  .app-container .download-btn {
    display: flex;
    background-color: #000000;
    border-radius: 50em;
    border: 3px solid #ffffff;
    width: 9.125em;
    overflow: hidden;
    transition: 0.3s all ease-in;
  }
  .app-container .download-btn:hover {
    background-color: #98ECFF;
  }
  .app-container .download-btn:active {
    transform: scale(0.8);
  }
  .app-container .download-btn a {
    color: #ffffff;
    width: 100%;
    padding: 1em;
  }
  .app-container .download-btn a:hover {
    color: #000000;
  }
  .app-container .download-btn a span {
    font-weight: 700;
    margin-left: 0.5em;
  }
  .app-container .download-btn a i {
    font-size: 1.25em;
  }
  .app-container .download-btn:nth-child(2) a span {
    margin-left: 1.6em;
  }
  .app-header span {
    font-weight: 700;
    margin-left: 0.5em;
  }
  .app-header i {
    font-size: 1.25em;
  }
  /* =========================================================================== */
  /* Main Content Container */
  /* =========================================================================== */
  .right-content-container {
    display: grid;
    /* Fixed Footer's height */
    grid-template-rows: auto 10.875em;
  }
  main {
    padding: 2.85em 2.85em 0em;
  }
  /* =========================================================================== */
  /* Index page */
  /* =========================================================================== */
  .breadcrumb {
    margin-bottom: 2.85em;
  }
  .todays-pic-container {
    grid-template-columns: 4.18em auto 4.18em;
    gap: 2.81em;
  }
  /* Control Buttons */
  .control-btn i {
    padding: 1rem;
    font-size: 1.875em;
  }
  .control-btn i.prev {
    left: 0%;
  }
  .control-btn i.next {
    right: 0%;
  }
  /* Image Credit */
  .img-credit {
    padding: 1.43em 0em 1.43em 2.56em;
    display: block;
  }
  .img-credit button {
    display: none;
  }
  /* Article */
  article {
    margin-left: 4.125em;
    width: 29.625em;
  }
  article h1 {
    text-align: left;
  }
  article .pic-description {
    margin-top: 0em;
    margin-right: 1.18em;
    max-height: 18.56em;
  }
  article hr {
    border-top: 3px dashed #ffffff;
    margin-top: 1.5em;
  }
  article button {
    color: #9B55DD;
    border: 1px solid #9B55DD;
    border-radius: 50em;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
    background-color: transparent;
    padding: 1em;
    margin: 1.5em 0em;
    transition: 0.3s all ease-in;
  }
  article button:hover {
    color: #ffffff;
    background-color: #9B55DD;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
  }
  article button:active {
    transform: scale(0.8);
  }
  article button span {
    font-weight: 700;
    margin-left: 0.5em;
  }
  article button i {
    font-size: 1.25em;
  }
  /* =========================================================================== */
  /* Footer */
  /* =========================================================================== */
  footer {
    padding: 2.56em 5.6em;
    background-color: rgba(255, 255, 255, 0.2509803922);
    /* Create an inner grid container for the footer elements */
    display: grid;
    grid-template-columns: auto 14.375em;
    gap: 1em;
  }
  .social-media {
    display: flex;
    gap: 0.75em;
  }
  .social-media a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s all ease-in;
    text-decoration: none;
  }
  .social-media a:hover {
    color: #98ECFF;
  }
  .social-media a i {
    font-size: 2em;
  }
  .declaration a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s all ease-in;
  }
  .declaration a:hover {
    color: #98ECFF;
  }
  /* =========================================================================== */
  /* Search Page */
  /* =========================================================================== */
  .search-container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 4fr;
    gap: 3.5em;
  }
  /* Search Bar */
  .searching-for {
    grid-column: 1/4;
  }
  .searching-for form input {
    height: 1em;
  }
  .category-filter {
    display: none;
  }
  /* Category Selections */
  .category-selections {
    display: block;
    grid-column: 4/6;
  }
  /* Filter */
  .filter-container {
    display: block;
    grid-column: 1/2;
  }
  /* Buttons */
  .filter-container button {
    background: none;
    color: #ffffff;
    border-radius: 50em;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
    padding: 0.5em 1.3em;
  }
  .filter-container button:nth-child(4) {
    border: 2px solid rgba(255, 255, 255, 0.3137254902);
    transition: 0.3s all ease-in;
    margin-right: 1em;
  }
  .filter-container button:nth-child(4):hover {
    background-color: #98ECFF;
    color: #000000;
    box-shadow: 0px 0px 20px #ffffff;
  }
  .filter-container button:nth-child(4):active {
    transform: scale(0.8);
  }
  .filter-container button:nth-child(5) {
    background-color: #9B55DD;
    transition: 0.3s all ease-in;
    border: none;
  }
  .filter-container button:nth-child(5):hover {
    box-shadow: 0px 0px 20px #ffffff;
  }
  .filter-container button:nth-child(5):active {
    transform: scale(0.8);
  }
  /* Results */
  .result-container {
    grid-column: 2/6;
    margin-top: 0em;
  }
  .results {
    max-height: 28em;
  }
  .results .filter-panels {
    margin-right: 2.6em;
  }
  /* =========================================================================== */
  /* Submission Page */
  /* =========================================================================== */
  .submission-container {
    display: grid;
    grid-template-columns: 37.6em auto;
    gap: 4.375em;
    margin-bottom: 5.6em;
  }
  /* File */
  .file-container {
    border: 3px dashed #ffffff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .file-container i {
    font-size: 8.6em;
    padding: 0em;
    border-radius: 0em;
    background-color: transparent;
    color: #ffffff;
  }
  .file-container i:nth-child(1) {
    display: block;
  }
  .file-container i:nth-child(2) {
    display: none;
  }
  .file-container p {
    font-size: 1.5em;
    margin-top: 3.5em;
  }
  .file-container p::after {
    content: "Drop a file here or click to upload.";
  }
  /* Form */
  .form-container input[type=text], .form-container input[type=email], .form-container textarea {
    border-radius: 10px;
  }
  .form-container textarea {
    height: 7em;
  }
  .form-container .form-check {
    margin-top: 1.5em;
  }
  .form-container .form-check label {
    line-height: 26px;
  }
  .form-container .form-check label a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s all ease-in;
  }
  .form-container .form-check label a:hover {
    color: #98ECFF;
  }
  .form-container button {
    color: #9B55DD;
    border: 1px solid #9B55DD;
    border-radius: 50em;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
    background-color: transparent;
    padding: 1em;
    margin: 1.5em 0em;
    transition: 0.3s all ease-in;
    padding: 0.6em 2em;
    font-size: 1.5em;
    margin: 0em;
  }
  .form-container button:hover {
    color: #ffffff;
    background-color: #9B55DD;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
  }
  .form-container button:active {
    transform: scale(0.8);
  }
  .form-container button span {
    font-weight: 700;
    margin-left: 0.5em;
  }
  .form-container button i {
    font-size: 1.25em;
  }
  /* =========================================================================== */
  /* Categories Page */
  /* =========================================================================== */
  .categories {
    justify-content: center;
    align-items: center;
    gap: 3.18em;
    max-width: 58em;
    margin-bottom: 3.6em;
  }
  /* =========================================================================== */
  /* Sub Categories Page: Cosmos, Solar System, People, Space Tech, Sky */
  /* =========================================================================== */
  .sub-categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.18em;
    max-width: 58em;
    margin: 3.6em auto;
    align-items: baseline;
    justify-content: center;
    gap: 1.3em;
    max-width: 94em;
  }
  /* Accordion */
  .accordion-item ul {
    gap: 1.4em 3em;
    max-width: 20em;
  }
}
/* =========================================================================== */
/* Fine-tune Elements for different large screens */
/* =========================================================================== */
@media screen and (min-width: 1200px) and (max-width: 1879px) {
  /* Article */
  article {
    width: 100%;
    margin-top: 1.5em;
    margin-right: 0em;
    margin-bottom: 7.3em;
  }
  article h1 {
    text-align: center;
  }
  /* Search */
  .search-container {
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
  }
  .searching-for {
    grid-column: 1/5;
  }
  .category-selections {
    grid-column: 5/7;
  }
  .filter-container {
    grid-column: 1/3;
  }
  .result-container {
    grid-column: 3/7;
  }
  .results .filter-panels {
    margin-right: 1em;
  }
}/*# sourceMappingURL=style.css.map */