/* =========================================================================== */
/* Reset CSS */
/* =========================================================================== */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* =========================================================================== */
/* Overall Setting */
/* =========================================================================== */
/* font */
h1 {
  font-family: "Philosopher", sans-serif;
  color: #FFCA3A;
}

h2, h3, h4, h5, h6, p {
  font-family: "Poppins", sans-serif;
}

/* Set the full height */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

/* Scroll Bars */
/* width */
::-webkit-scrollbar {
  width: 0.5em;
  background-color: rgba(255, 255, 255, 0.5843137255);
  border-radius: 10em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5843137255);
  border-radius: 10em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3137254902);
  border-radius: 10em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.1882352941);
}

/* =========================================================================== */
/* Desktop Version */
/* =========================================================================== */
@media screen and (min-width: 1200px) {
  /* =========================================================================== */
  /* Font Setting for Desktop Version*/
  /* =========================================================================== */
  h1 {
    font-size: 4em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  h2 {
    font-size: 1.5em;
    font-weight: 700;
  }
  h3, h4 {
    font-weight: 700;
  }
  p {
    line-height: 26px;
  }
  /* =========================================================================== */
  /* Top Nav Bar */
  /* =========================================================================== */
  nav {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1882352941);
    background: #000000;
  }
  /* Logo */
  .logo {
    margin-left: 2.5em;
  }
  /* Search and Menu Buttons */
  /* Clear the default style of button */
  .menu-btn, .search-btn {
    background: none;
    color: #ffffff;
  }
  .search-btn {
    margin: 0em 0.5em;
    font-size: 1.4em;
  }
  .menu-btn {
    margin: 0em 1.5em;
    font-size: 2.4em;
  }
  /* Search Bar */
  form.search {
    border-radius: 50em;
    border: 4px solid #ffffff;
  }
  .search-bar {
    padding-left: 1em;
    background: none;
    color: #ffffff;
    height: 1.6em;
    width: 20em;
  }
  .search-bar:focus {
    outline: none;
    color: #ffffff;
  }
  .search-bar::-moz-placeholder {
    color: #ffffff;
  }
  .search-bar:-ms-input-placeholder {
    color: #ffffff;
  }
  .search-bar::placeholder {
    color: #ffffff;
  }
  .search-bar[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: none;
            appearance: none;
    cursor: pointer;
    width: 0.8em;
    height: 0.8em;
    background-repeat: no-repeat;
    background-image: url("../image/xmark.png");
    background-position: center;
  }
  /* Right Menu */
  div.offcanvas-body ul {
    margin-top: 10.875em;
    margin-left: 4.375em;
  }
  div.offcanvas-body ul li {
    margin: 1.25em 0em;
    opacity: 0.5;
  }
  div.offcanvas-body ul li a {
    color: #000000;
  }
  div.offcanvas-body ul li.active {
    opacity: 1;
  }
  /* TODO: Style it for small screens */
  .sm-device-footer {
    display: none;
  }
  /* =========================================================================== */
  /* Main Grid Container */
  /* =========================================================================== */
  .grid-container {
    height: 100%;
    overflow: hidden;
    /* Make a grid for Sidebar and right content */
    display: grid;
    grid-template-columns: 16.375em auto;
  }
  /* =========================================================================== */
  /* Sidebar */
  /* =========================================================================== */
  /* Span heading besides icon */
  article button span, .app-header span, .app-container button a span, .side-nav li a span {
    font-weight: 700;
    margin-left: 0.5em;
  }
  /* Icon Size */
  article button i, .app-header i, .app-container button a i, .collapse-btn i, .side-nav li a i {
    font-size: 1.25em;
  }
  /* Sidebar Navigation */
  aside {
    width: 16.375em;
    background-color: rgba(29, 35, 94, 0.2078431373);
    padding: 0em;
    grid-row: 1/2;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .side-nav li {
    display: flex;
    cursor: pointer;
    transition: 0.3s all ease-in;
  }
  .side-nav li:nth-child(1) {
    padding-top: 1.85em;
  }
  .side-nav li.active, .side-nav li:hover {
    background-color: rgba(255, 255, 255, 0.2235294118);
  }
  .side-nav li a {
    padding: 1em 0.75em 1em 2.5em;
    color: rgba(255, 255, 255, 0.4392156863);
    transition: 0.3s all ease-in;
  }
  .side-nav li a[href="./categories.html"] {
    padding-right: 4.4em;
  }
  .side-nav li a.active, .side-nav li a:hover {
    color: #ffffff;
  }
  /* Collapse Button */
  .collapse-btn {
    position: absolute;
    top: 45%;
    right: 0em;
    padding: 1.68em 0.6em;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px 0px 0px 10px;
    border: none;
  }
  /* Download Apps */
  .app-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25em;
    margin-bottom: 3.56em;
  }
  .app-container button {
    background-color: #000000;
    border-radius: 50em;
    border: 3px solid #ffffff;
    padding: 0.7em 0em;
    width: 9.125em;
    transition: 0.3s all ease-in;
  }
  .app-container button:hover {
    background-color: #98ECFF;
  }
  .app-container button:active {
    transform: scale(0.8);
  }
  .app-container button a {
    color: #ffffff;
    padding: 1em;
  }
  .app-container button a:hover {
    color: #000000;
  }
  /* =========================================================================== */
  /* Index: Main Content - Today's Picture */
  /* =========================================================================== */
  .right-content-container {
    height: 100%;
    display: grid;
    /* Fixed Footer's height */
    grid-template-rows: auto 10.875em;
    overflow: auto;
  }
  main {
    padding: 2.85em 2.85em 0em;
    width: 100%;
  }
  /* Today's Picture Container */
  .todays-pic-container {
    position: relative;
    display: grid;
    grid-template-columns: 4.18em auto 4.18em;
    gap: 2.81em;
  }
  /* Control Buttons */
  .control-btn {
    cursor: pointer;
  }
  .control-btn i {
    border: 1px solid #ffffff;
    border-radius: 50em;
    padding: 1rem;
    font-size: 1.875em;
    position: absolute;
    top: 50%;
    transition: 0.3s all ease-in;
  }
  .control-btn i:hover {
    border: 1px solid #98ECFF;
    color: #98ECFF;
    box-shadow: 0px 0px 10px #ffffff;
    transform: scale(1.1);
  }
  .control-btn i:active {
    transform: scale(0.8);
  }
  .btn-disable {
    opacity: 0.5;
  }
  /* Image Credit */
  .picture-container {
    position: relative;
  }
  .picture-container p {
    padding: 1.43em 0em 1.43em 2.56em;
  }
  /* Set the style of all subtitles */
  .picture-container p {
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.1882352941);
    color: #ffffff;
    width: 100%;
  }
  /* Article */
  article {
    margin-left: 4.125em;
    width: 29.625em;
  }
  article .pic-description {
    margin-right: 1.18em;
    max-height: 18.56em;
    overflow: auto;
  }
  article hr {
    border-top: 3px dashed #ffffff;
    opacity: 1;
    margin-top: 1.5em;
  }
  /* Set the style of primary button */
  article button {
    color: #9B55DD;
    border: 1px solid #9B55DD;
    border-radius: 50em;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
    background-color: transparent;
    padding: 1em;
    margin: 1.5em 0em;
    transition: 0.3s all ease-in;
  }
  article button:hover {
    color: #ffffff;
    background-color: #9B55DD;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2823529412);
  }
  article button:active {
    transform: scale(0.8);
  }
  /* =========================================================================== */
  /* Footer */
  /* =========================================================================== */
  /* TODO: Style it */
  footer {
    padding: 2.56em 5.6em;
    background-color: rgba(255, 255, 255, 0.2509803922);
    /* Create an inner grid container for the footer elements */
    display: grid;
    grid-template-columns: auto 14.375em;
    gap: 1em;
  }
  .social-media {
    display: flex;
    gap: 0.75em;
  }
  .social-media a {
    text-decoration: none;
  }
  .social-media a i {
    font-size: 2em;
  }
  /* Set the style of anchors in all paragraphs */
  .picture-container p a, .social-media a, .declaration a {
    color: #ffffff;
    text-decoration: underline;
    transition: 0.3s all ease-in;
  }
  .picture-container p a:hover, .social-media a:hover, .declaration a:hover {
    color: #98ECFF;
  }
  /* =========================================================================== */
  /* Search Page: Search Panel */
  /* =========================================================================== */
  /* Search bar */
  .search-btn-dark {
    background: none;
    color: #000000;
    margin: 0.5em;
  }
}
/* =========================================================================== */
/* Fine-tune Elements for different large screens */
/* =========================================================================== */
@media screen and (min-width: 1200px) and (max-width: 1879px) {
  /* Index - Article */
  article {
    width: auto;
    margin-top: 1.5em;
  }
  article h1 {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */