// Mobile
@mixin categories-sm {
    .categories {
        padding: 0em 1.5em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5em;
        margin: 1.25em .68em 0em 0em;
        overflow: auto;
        max-height: 33.875em;

        p {
            @include subtitle;
            font-size: 1.25em;
            padding: 1em 0em;
            transition: .3s all ease-in;
            
            &:hover {
                padding: 121.5px 0px;
                background-color: #00000075;
            }
        }

        picture:hover+p {
            padding: 121.5px 0px;
            background-color: #00000075;
        }
    }
}

// Tablet
@mixin categories-md {
    .categories {
        padding: 0em;
        justify-content: space-between;
        gap: 2.5em;
        max-width: 37em;
        margin: 2.6em auto 0em;
        overflow: visible;
        max-height: fit-content;
    }
}

// Desktop
@mixin categories-lg {
    .categories {
        justify-content: center;
        align-items: center;
        gap: 3.18em;
        max-width: 58em;
        margin-bottom: 3.6em;
    }
}