// Desktop
@mixin main-content-container-lg {
    .right-content-container {
        height: 100%;
        display: grid;

        /* Fixed Footer's height */
        grid-template-rows: auto 10.875em;
        overflow:auto;
    }

    main {
        padding: 2.85em 2.85em 0em;
        width: 100%;
    }
}