// Desktop
@mixin search-lg {
    .search-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr 4fr;
        gap: 3.5em;

        /* Fine-tune Elements for different large screens */
        @include large-screen() {
            grid-template-columns: repeat(6, 1fr);
            gap: 1em;
        }
    }
    
    /* Search Bar */
    .searching-for {
        grid-column: 1 / 4;

        /* Fine-tune Elements for different large screens */
        @include large-screen() {
            grid-column: 1 / 5;
        }

        form {
            input {
                padding-left: 1em;
                background: none;
                height: 1.6em;
        
                &:focus {
                    outline: none;
                }
        
                &[type="search"]::-webkit-search-cancel-button {
                    appearance: none;
                    cursor: pointer;
                    width: .8em;
                    height: .8em;
                    background-repeat: no-repeat;
                    background-image: url("../image/xmark-dark.png");
                    background-position: center;
                }
            }

            button {
                background: none;
                color: #000000;
                margin: .5em;

                i {
                    @include icon-size;
                    margin-right: .5em ;
                }
            }
        }
    }

    /* Category Selections */
    .category-selections {
        grid-column: 4 / 6;

        /* Fine-tune Elements for different large screens */
        @include large-screen() {
            grid-column: 5 / 7;
        }
    }

    /* Filter */
    .filter-container {
        grid-column: 1 / 2;

        /* Fine-tune Elements for different large screens */
        @include large-screen() {
            grid-column: 1 / 3;
        }
        
        /* Buttons */
        button {
            @include button-clear;
            border-radius: 50em;
            box-shadow: 0px 0px 20px #ffffff48;
            padding: .5em 1.3em;

            &:nth-child(4) {
                border: 2px solid #ffffff50;
                transition: .3s all ease-in;
                margin-right: 1em;

                &:hover {
                    background-color: #98ECFF;
                    color: #000000;
                    box-shadow: 0px 0px 20px #ffffff;
                }

                &:active {
                    @include btn-active;
                }
            }

            &:nth-child(5) {
                background-color: #9B55DD;
                transition: .3s all ease-in;
                border: none;

                &:hover {
                    box-shadow: 0px 0px 20px #ffffff;
                }

                &:active {
                    @include btn-active;
                }
            }
        }
    }

    .filter-panels {
        background-color: #ffffff;
        border-radius: 10px;
        padding: .8em 0em;
        color: #000000;
        margin-bottom: 1em;

        h3 {
            padding: 0em .8em;
        }

        hr {
            border: .25px solid #D8D8D8;
            margin: 6.5px 0px;
        }

        h4 {
            font-weight: 400;
            margin-bottom: .2em;
        }

        .container {
            margin-bottom: .8em;
        
            .row {
                padding-left: .8em;
                margin-right: .05em;
                overflow: auto;
                max-height: 2.75em;

                /* Adjust the background color of track */
                &::-webkit-scrollbar {
                    background-color: #E6E6E6;
                }

                label {
                    padding-top: .4em;
                    font-size: 14px;
                }
            }
        }       
    }

    /* Results */
    .result-container {
        grid-column: 2 / 6;

        /* Fine-tune Elements for different large screens */
        @include large-screen() {
            grid-column: 3 / 7;
        }
    }

    .results {
        overflow: auto;
        max-height: 28em;

        .filter-panels {
            padding: 1em;
            margin-right: 2.6em;

            /* Fine-tune Elements for different large screens */
            @include large-screen() {
                margin-right: 1em;
            }

            h2 {
                color: #8C3A75;
                margin-bottom: .3em;
            }
        }
    }
}