// Desktop
@mixin submission-lg {
    .submission-container {
        display: grid;
        grid-template-columns: 37.6em auto;
        gap: 4.375em;
        margin-bottom: 5.6em;
    }

    .file-container {
        border: 3px dashed #ffffff;
        border-radius: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        i {
            font-size: 8.6em;
        }

        p {
            font-size: 1.5em;
            margin-top: 3.5em;
        }
    }

    .form-container {
        input[type="text"], input[type="email"], textarea {
            border-radius: 10px;
        }

        textarea {
            max-height: 7em;
        }

        .form-check {
            margin-top: 1.5em;

            label {
                line-height: 26px;

                a {
                    @include pAnchor;
                }
            }
        }

        button {
            @include primary-btn;
            padding: .6em 2em;
            font-size: 1.5em;
            margin: 1em 0em;
        }
    }
}