// ===========================================================================
// Mixin
// ===========================================================================
@import "./mixins/my-mixin";
@import "./reset-css";
@import "./font-setting";
@import "./top-nav-bar";
@import "./main-grid-container";
@import "./sidebar";
@import "./main-content-container";
@import "./todays-picture";
@import "./footer";
@import "./search";
@import "./submission";
@import "./categories";
@import "./sub-categories";
@mixin large-screen() {
    @media screen and (min-width: 1200px) and (max-width: 1879px) {
        @content;
    }
}

/* =========================================================================== */
/* Reset CSS */
/* =========================================================================== */
@include reset-css;

/* =========================================================================== */
/* Overall Setting */
/* =========================================================================== */
/* Font */
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@400;500;600;700&display=swap');

h1 {
    font-family: 'Philosopher', sans-serif;
    color: #FFCA3A;
}

h2, h3, h4, h5, h6, p {
    font-family: 'Poppins', sans-serif;
} 

/* Set the full height */
html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

body {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

button {
    cursor: pointer;
}

/* Scroll Bars */
/* width */
::-webkit-scrollbar {
    width: .5em;
    background-color: #ffffff95;
    border-radius: 10em;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ffffff95; 
    border-radius: 10em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00000050; 
    border-radius: 10em;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #00000030; 
  }

/* =========================================================================== */
/* Tablet Version */
/* =========================================================================== */
@media screen and (min-width: 768px) {
    /* =========================================================================== */
    /* Font Setting for Desktop Version*/
    /* =========================================================================== */        
    @include font-setting-md;

    /* =========================================================================== */
    /* Top Nav Bar */
    /* =========================================================================== */        
    @include top-nav-bar-md;

    /* =========================================================================== */
    /* TODO: Main Grid Container */
    /* =========================================================================== */
    @include main-grid-container-lg;
    
    /* =========================================================================== */
    /* TODO: Sidebar */
    /* =========================================================================== */   
    @include sidebar-lg;

    /* =========================================================================== */
    /* TODO: Main Content Container */
    /* =========================================================================== */
    @include main-content-container-lg;

    /* =========================================================================== */
    /* TODO: Index page */
    /* =========================================================================== */
    @include todays-picture-lg;

    /* =========================================================================== */
    /* TODO: Footer */
    /* =========================================================================== */
    @include footer-lg;
    
    /* =========================================================================== */
    /* TODO: Search Page */
    /* =========================================================================== */
    @include search-lg;

    /* =========================================================================== */
    /* TODO: Submission Page */
    /* =========================================================================== */
    @include submission-lg;

    /* =========================================================================== */
    /* TODO: Categories Page */
    /* =========================================================================== */
    @include categories-lg;

    /* =========================================================================== */
    /* TODO: Sub Categories Page: Cosmos, Solar System, People, Space Tech, Sky */
    /* =========================================================================== */
    @include sub-categories-lg;
}

/* =========================================================================== */
/* Desktop Version */
/* =========================================================================== */
@media screen and (min-width: 1200px) {
    /* =========================================================================== */
    /* Font Setting for Desktop Version*/
    /* =========================================================================== */        
    @include font-setting-lg;

    /* =========================================================================== */
    /* Top Nav Bar */
    /* =========================================================================== */        
    @include top-nav-bar-lg;

    /* =========================================================================== */
    /* Main Grid Container */
    /* =========================================================================== */
    @include main-grid-container-lg;
    
    /* =========================================================================== */
    /* Sidebar */
    /* =========================================================================== */   
    @include sidebar-lg;

    /* =========================================================================== */
    /* Main Content Container */
    /* =========================================================================== */
    @include main-content-container-lg;

    /* =========================================================================== */
    /* Index page */
    /* =========================================================================== */
    @include todays-picture-lg;

    /* =========================================================================== */
    /* Footer */
    /* =========================================================================== */
    @include footer-lg;
    
    /* =========================================================================== */
    /* Search Page */
    /* =========================================================================== */
    @include search-lg;

    /* =========================================================================== */
    /* Submission Page */
    /* =========================================================================== */
    @include submission-lg;

    /* =========================================================================== */
    /* Categories Page */
    /* =========================================================================== */
    @include categories-lg;

    /* =========================================================================== */
    /* Sub Categories Page: Cosmos, Solar System, People, Space Tech, Sky */
    /* =========================================================================== */
    @include sub-categories-lg;
}